<h1>Did you practice?</h1>




<p>
<h2>
<%= link_to "Log my practice!", new_post_path, class: "btn btn-large btn-primary" %>
</h2>
<p>

<h1>How have you been practicing?</h1>

<%= link_to "See Practice Log", posts_path, class: "btn btn-large btn-primary" %><p>
<p>
	




<p>
	<h2>
	Not a user yet?</h2> <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %><p>

	<p>




<h1>Are you a teacher?</h1>
	 <%= link_to "View all posts", teachers_path %>
	<p> <%= link_to "See all users", users_path %>