

<!-- must be logged in to log practice -->
<% if current_user %>
<p>
<h2>Log practice <p>
<%= link_to "Log my practice!", new_post_path, class: "btn btn-large btn-primary" %>
</h2>
<p>
 <% end %>



<p>

<% if teacher_signed_in? %>
		Welcome teacher <%= current_teacher.username %> (Your id: <%= current_teacher.id %>).<p>
		<%= link_to "Logout", destroy_user_session_path, :method => :delete %>

		 <%= link_to "Your Students' Entries", teachers_path %>
<% else %>
	Please sign in or sign up to start logging practice!
<% end %>
<p>





<p>

	Are you a new student?<p> <%= link_to "Sign up now, Student!", new_user_registration_path, class: "btn btn-large btn-primary" %><p>

	<p>











<% if user_signed_in? %>
		You are a student. You are <b> <%= current_user.username %> </b>and your teacher's ID is<b> 
		<%= current_user.teacher_id %>.

<% else %>

    Are you a new teacher?
	<p>
    <%= link_to "Sign up now, teacher!", new_teacher_registration_path, class: "btn btn-large btn-primary" %>
    <p>
	</b>

<% end %>



