<p id="notice"><%= notice %></p>

<h1><%= current_teacher.username %>  student posts</h1>


Studio Posts for <%= current_teacher.username %> (Your id: <%= current_teacher.id %>)

<p>
<table>
  <thead>
    <tr>
       <th>UserID</th>
      <th>User</th>
      <th>Created At</th>
      <th>Duration</th>
      <th>Rating</th>
      <th>TeacherID</th>

      <th colspan="3"></th>

    </tr>
  </thead>
 
  <tbody>
    <% @posts.each do |post| %>


      <tr>
        <td><%= post.user_id %></td>
        <td><%= link_to post.user.username, post.user %></td>
        
        <td><%= post.created_at %></td>
        <td><%= post.Duration %></td>
        <td><%= post.Rating %></td>
        <td><%= post.user.teacher_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>





<%= link_to 'See All Entries', posts_path %>
  <p> <%= link_to "See all users", users_path %><p>
    <p> <%= link_to "See all teachers", teachers_list_path %> Not working. <p> 
