<p id="notice"><%= notice %></p>
<h1>Success!</h1>

<p>
  <strong>Created at:</strong>
  <%= @post.created_at %>
</p>
<p>

  <strong>By User ID:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>With Username:</strong>
  <%= @post.user.username %>
</p>



<p>
  <strong>With Duration Of:</strong>
  <%= @post.Duration %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @post.Rating %>
</p>

<%= link_to 'Edit This Entry', edit_post_path(@post) %> |
<%= link_to 'See All Entries', posts_path %>
